# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
*.obj
*.log
*.pch
*.pch1
*.pdb
*.optrpt
*.tlog
*.tlb
*.ilk
*.bak
*.raw
*.obj
*.iobj
*.ipdb
*.exe
*.dll
*.idb.svn
*.exp
*.opensdf
*.DS_Store
*.pchi
*.res
*.sdf
*.suo
Thumbs.db
ToBeReleased/
ASCx64.lib
ASCx86.lib
ASYx64.lib
ASYx86.lib
ConvertToUTF16.ps1
ToBeReleased.tar
*.ipch
/ECS.old
/XVIIHandlers.BAD/
/SymbolViewerHandlers.BAD/
/LTspiceXVII.iobj
/LTspiceXVII.ipdb
/ToBeRealeased
/ToBeReleaseLocal
/ToBeReleaseNewLocal
/venv
/Setup.BAD
/lib
/examples
Browse.vc.db
Solution.vc.db
/Win32/
/_gsdata_/
data_cpp.NOP
data_h.NOP
/meeting/
/Setup/Win32/
/WebPush/Win32/
/Unlink/Win32/
.vs/
/CompressedFiles
/.cr
/.vs
/_gsdata_
/Advanced Installer/MsiBuilds/
/x64/
UpdateLTspice.zip
